# General
node_modules/
*.log
*.env

# Backend specific
backend/node_modules/
backend/package-lock.json
backend/.env

# Frontend specificss
frontend/node_modules/
frontend/package-lock.json
frontend/.env
frontend/public/favicon.ico
frontend/src/logo.svg
frontend/build/

