/* App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2; /* Set a background color */
}

.App {
  text-align: center;
}

/* Style the logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style the header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style the App-link */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Center the Auth container */
.auth-container {
  margin-top: 100px;
  margin-left: 50px;
}

/* Style the small search container */
.small-search-container {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2; /* Set the background color */
  padding: 10px;
}

/* Style the small search field */
.small-search-field {
  width: 100%;
  max-width: 400px; /* Limit the width of the search field */
  background-color: #fff; /* White background */
  color: #333; /* Text color */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.small-search-field::placeholder {
  color: #ccc; /* Placeholder text color */
}

.small-search-field:focus {
  border-color: #61dafb; /* Highlight border color on focus */
  box-shadow: 0 0 5px rgba(97, 218, 251, 0.5); /* Add a subtle box shadow on focus */
}

.small-search-field:focus::placeholder {
  color: #999; /* Adjust placeholder text color on focus */
}
