/* SearchPage.css */

.search-page {
  text-align: center;
  background-color: #f2f2f2;
}

.search-bar {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #61dafb;
  background-color: #f2f2f2;
  color: #333;
  margin-right: 10px;
  border-radius: 5px;
}

.search-bar button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-link-message {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.create-link-button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-link-button:hover{
  background-color: #4fa3d7;
}

.related-topics {
  list-style: none;
  padding: 0;
}

.related-topics li {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

.related-topics li:hover {
  background-color: #f2f2f2;
}
